<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'whereiam/style.css' %}"/>
</head>
<body>
<div class='login'>
    <h2>Регистрация ребенка</h2>

    <form action="." method="post">
        {% csrf_token %}
        {{ form.login }}
        {{ form.password1 }}
        {{ form.password2 }}
        {{ form.name_child }}
        <input class="animated" type="submit"  value="Зарегистрировать">
    </form>
</div>
</body>
</html>